.brick {
  width: 100px;
  height: 100px; 
  background: #ffee58;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 5px;
}

.brick img {
width:60px;
height:60px;
}

.memory {
width: 450px; 
margin: 0 auto; 
display: flex;
flex-wrap: wrap;
}

.hidden {
visibility: hidden; 
}